html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  max-height: 100vh;
  margin: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
}
