* {
  box-sizing: border-box;
}

input[name='rtmpUrl'] {
  height: 32px;
  padding: 0 0.5rem;
  border-radius: 4px;
  border: 0;
}

button {
  height: 32px;
  padding: 0 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
